/* Font - Amazon Ember */
@font-face {
	font-family: 'Amazon Ember';
	src: url(../fonts/AmazonEmber/AmazonEmber_Bd.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Amazon Ember';
	src: url(../fonts/AmazonEmber/Amazon-Ember-Medium.ttf) format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Amazon Ember';
	src: url(../fonts/AmazonEmber/AmazonEmber_Rg.ttf) format('opentype');
	font-weight: lighter;
	font-style: normal;
}

.amazon-yellow {
	color: #f2941b !important;
}

.amazon-red {
	color: #b12704 !important;
}

.amazon-link-blue {
	color: #007185 !important;
}

.amazon-text-secondary {
	color: #565959 !important;
}

.amazon-color-success {
	color: #007600 !important;
}

a,
a:hover {
	color: inherit;
	text-decoration: inherit;
}
