/* Font - Amazon Ember */
@font-face {
	font-family: "Amazon Ember";
	src: url(../fonts/AmazonEmber/AmazonEmber_Bd.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Amazon Ember";
	src: url(../fonts/AmazonEmber/Amazon-Ember-Medium.ttf) format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Amazon Ember";
	src: url(../fonts/AmazonEmber/AmazonEmber_Rg.ttf) format("opentype");
	font-weight: lighter;
	font-style: normal;
}

.amazon-color {
	color: #f2941b;
}

a {
	color: inherit;
	text-decoration: inherit;
}
