.top-navbar {
	background-color: #282c34;
	padding: 1rem;
	margin-bottom: 1rem;
}

.nav-container .nav-brand {
	font-family: var(--font-primary);
	font-size: 2rem;
	font-weight: 600;
	color: #08a96d;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-links-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 10%;
	width: 50%;
}

.nav-links-container > .nav-link {
	list-style: none;
	font-family: var(--font-primary);
	color: white;
	margin: auto 0;
	text-transform: uppercase;
	font-size: 0.875rem;
}

@media screen and (max-width: 600px) {
	.nav-container {
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.nav-container .nav-brand {
		width: 100%;
		text-align: center;
	}
	.nav-links-container {
		width: 100%;
		justify-content: center;
	}
}
